{% extends "base.html" %}
{% load static %}

{% block title %} Request page {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/friends/friends.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
{% endblock %}

{% block sidebar %}
    <div class="friends-links">
        <a href="{% url 'main_friends' %}" class="friends-link {% if request.path == '/user_app/friends/main/' %}active{% endif %}">
            Головна
        </a>
        <a href="{% url 'friendship_requests' %}" class="friends-link {% if request.path == '/user_app/friends/requests/' %}active{% endif %}">
            Запити
        </a>
        <a href="{% url 'recommended_friends' %}" class="friends-link {% if request.path == '/user_app/friends/recommended/' %}active{% endif %}">
            Рекомендації
        </a>
        <a href="{% url 'all_friends' %}" class="friends-link {% if request.path == '/user_app/friends/all/' %}active{% endif %}">
            Всі друзі
        </a>
    </div>
{% endblock %}

{% block scrollbar %}
    <section class="content">
        <div class="block">
            <div class="block-header">
            <h2>Запити</h2>
        </div>
            <div class="card-grid">
                <div class="user-card">
                    <div class="avatar"></div>
                    <div class="name">Yehor Aung</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                </div>
            </div>
                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>

                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div><div class="user-card">
                    <div class="avatar red"></div>
                    <div class="name">Ann Ann</div>
                    <div class="tag">@theliii</div>
                    <div class="actions">
                        <button class="primary">Підтвердити</button>
                        <button class="secondary">Видалити</button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}

