:root {
    --primary: rgba(84, 60, 82, 1);
    --secondary: #ddd;
    --background: #f7f5fc;
    --border-radius: 1.2rem;
    font-size: 16px;
}

/* .sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
} */


.scrollbar{
    border: none;
    background-color: transparent;
    padding: 0;
    
}

.block {
    margin-bottom: 2rem;
    background: transparent;
    padding: 2rem;
    width: 100%;
    
    border: 0.5px solid rgba(205, 206, 210, 1);
    border-radius: 0.625rem;
    background-color: white;
}


.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    text-decoration: none;

    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(7, 10, 28, 1);
}

.view-all{
    font-size: 1.4rem;
    color: rgba(84, 60, 82, 1);
    font-weight: 500;

}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; /* = 24px */
}

.user-card {
    background: white;
    border: 1px solid rgba(205, 206, 210, 1);
    border-radius: 0.7rem;
    padding: 1rem;
    text-align: center;

    flex: 0 0 16.063rem;
    width: fit-content;
    /* width: 17.063rem; */
}


.avatar {
    width: 4rem;
    height: 4rem;
    background: gray;
    border-radius: 50%;
    margin: 0 auto 0.75rem;
}

.actions{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.5rem;
}

.actions button{
    font-weight: bold;
}

.name {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.tag {
    font-size: 0.85rem;
    color: gray;
    margin-bottom: 1rem;
}

.primary {
    background:rgba(84, 60, 82, 1);
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: auto;
}

.secondary {
    background: transparent;
    color: rgba(84, 60, 82, 1);
    border: 1.5px solid rgba(84, 60, 82, 1);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;

}

.secondary:hover {
    background: rgba(84, 60, 82, 1);
    color: white;
}


.friends-links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.friends-links a{
    opacity: 80%;
    width: auto;
}

.friends-link{
    text-decoration: none;
    color: rgba(129, 129, 141, 1);
    font-size: 1.2rem;
    font-weight: 500;

}

.friends-link.active{
    text-decoration: none;
    width:fit-content;
    opacity:1;
    /* text-decoration-thickness: 2px; */
    /* text-decoration-color: rgba(7, 10, 28, 1); */

    color: rgba(7, 10, 28);
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: 2.5px solid rgba(7, 10, 28, 1);
    border-radius: 1px;
}

.text-block{
    display: none;
}

.sidebar-profile{
    background-color: transparent;
    border: none;
    padding: 0;
}

.sidebar-messages, .sidebar-requests{
    display: none;
}