{% extends "base.html" %}
{% load static %}

{% block title %} Home Page {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/cores.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
{% endblock %}

{% block sidebar %}
    <div class="account-info">
        <div class="profile-picture">
            {% if avatar %}
                <img src="{{ avatar.image.url }}" alt="" class="default-avatar">
            {% else %}
                <img src="{% static 'images/default_avatar.png' %}" alt="" class="default-avatar">
            {% endif %}
        </div>

        <div class="names">
            <h3>{{ user.first_name }} {{  user.last_name }}</h3>
            <p class="username">{{ user.email }}</p>
        </div>

        <div class="basic-acc-info">
            <div class="acc-info posts">
                <h4 class="txt-amount">0</h4>
                <p class="txt-under">Дописи</p>
            </div>
            
            <div class="acc-info readers">
                <h4 class="txt-amount">0</h4>
                <p class="txt-under">Читачі</p>
            </div>
            <div class="acc-info friends">
                <h4 class="txt-amount">0</h4>  
                <p class="txt-under">Друзі</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scrollbar %}
    {% if show_detail_form  %}
        <div class="overlay-detail-form">
            <div class="center-div-detail-form">
                <h3 class="add-details-text">Додай деталі про себе</h3>
                <form class="form-profile-details" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="data-details-form">
                        <div class="center-data-1 noimg">
                            <p class="text-data-1">Ім’я</p>
                            {{ form_details.first_name }}
                        </div>

                        <div class="center-data-1 noimg">
                            <p class="text-data-1">Прізвище</p>
                            {{ form_details.last_name }}
                        </div>

                        <div class="center-data-1 noimg">
                            <p class="text-data-1">Ім’я користувача</p>
                            {{ form_details.name }}
                        </div>

                    </div>
                    <p class="help-text-1">Або оберіть: <span class="help-text-2">Запропоновані варіанти відповідно до Ім’я та Прізвища</span></p>
                    <button class="continue-button" type="submit" value="continue" name="who_send">Продовжити</button>
                </form>
        
            </div>
        </div>
    {% else %}
        <div class="overlay" id="overlay">
            <div class="center-div">

                <div class="post-header-popup">
                    <h2 class="create-post-text">Створення публікації</h2>
                    <a href="#" class="close-popup">×</a>
                </div>

                <form method = "post" enctype = "multipart/form-data" class="form-create-post" id="post-form">
                    {% csrf_token %}

                    <div class="data-details">
                        <div class="center-data noimg">
                            <p class="text-data">Назва публікації</p>
                            {{ form_post.title }}
                        </div>

                        <div class="center-data noimg">
                            <p class="text-data">Тема публікації</p>
                            {{ form_post.topic }}
                        </div>

                        <div class="tags">
                            <button class="add-basic-tag" type="button">#відпочинок</button>
                            <button class="add-basic-tag" type="button">#натхнення</button>
                            <button class="add-basic-tag" type="button">#життя</button>
                            <button class="add-basic-tag" type="button">#природа</button>
                            <button class="add-basic-tag" type="button">#читання</button>
                            <button class="add-basic-tag" type="button">#спокій</button>
                            <button class="add-basic-tag" type="button">#гармонія</button>
                            <button class="add-basic-tag" type="button">#музика</button>
                            <button class="add-basic-tag" type="button">#фільми</button>
                            <button class="add-basic-tag" type="button">#подорожі</button>

                            <button class="add-tag" type="button" id="add-tag-button">
                                <img src="{% static 'images/plus.svg' %}" alt="Додати тег">
                            </button>
                        </div>
                        
                        <div id="tag-inputs-wrapper" class="tag-inputs-wrapper"></div>

                        <div class="center-data noimg" id="content-wrapper">
                            {{ form_post.content }}
                        </div>

                        <div class="center-data noimg">
                            <p class="text-data">Посилання</p>
                            
                            <div class="url-input-wrapper" id="links-wrapper">
                                <div class="link-btn-wrapper">
                                    <input type="url" name="links" class="form-control" placeholder="Введіть посилання">

                                    <button class="add-url" type="button" id="add-link-button">
                                        <img src="{% static 'images/plus.svg' %}" alt="Додати посилання">
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="image-preview-wrapper" id="preview-img-wrapper"></div>

                        <div class="center-data noimg" style="display:none;">
                            {{ form_post.images }}
                        </div>
                    </div>
                    
                    <div class="control-buttons">
                        <label for="image-upload" class="upload-label" title="Додати зображення">
                            <img src="{% static 'images/image-button.svg' %}" alt="Додати картинку" class="upload-img">
                        </label>
                        
                        <input type="file" id="image-upload" name="image-upload" accept="image/*" style="display:none;" multiple>

                        <button class="stickers-button" type="button"><img src="{% static 'images/stickers-button.svg' %}" alt="stickers"></button>
                        <button class="post-button" type="submit" value="post" name="who_send">Публікація <img src="{% static 'images/plane.svg' %}" alt="літак"></button>            
                    </div>
                </form>

                {% if form.errors %}
                    <div class="form-errors">
                        {{ form.errors }}
                    </div>
                {% endif %}
            </div>
        </div>      
        
        {% for post in posts %}
            <div class="posts">
                <div class="post-header">
                    <div class="post-header-info">
                        {% if avatar %}
                            <img src="{{ avatar.image.url }}" alt="" class="default-avatar-post">
                        {% else %}
                            <img src="{% static 'images/default_avatar.png' %}" alt="" class="default-avatar-post">
                        {% endif %}
                        <p>{{ post.author.user.first_name }} {{ post.author.user.last_name }}</p>
                    </div>
        
                    <div class="user-signature">
                        <img src="{% static 'images/signature.svg' %}" alt="signature">
                        <button id="edit-post" class="edit-post-btn">
                            <img src="{% static 'images/3_dots.svg' %}" alt="signature">
                        </button>
                    </div>
                </div>

                <div class="post-content">
                    <p class="topic-post">{{ post.topic }}</p>

                    {% if post.content %}
                        <p>{{ post.content }}</p>
                    {% endif %}

                    <div class="post-tags">
                        {% for tag in post.tags.all %}
                            <span class="post-tag">#{{ tag.name }}</span>
                        {% endfor %}
                    </div>

                    <div class="post-links">
                        {% for link in post.link_set.all %}
                            <a href="{{ link.url }}" class="post-link" target="_blank">{{ link.url }}</a>
                        {% endfor %}
                    </div>

                    <div class="post-images">
                        {% for image in post.images.all %}
                            <img src="{{ image.file.url }}" alt="{{ image.filename }}" class="post-image">
                        {% endfor %}
                    </div>
                </div>

                <div class="post-likes">
                    <div class="wrapper-like">
                        <button type="button" class="like-post" id="like-post">
                            <img src="{% static 'images/like.svg' %}" alt="">
                        </button>
                        <p id="likes-amount">0 Вподобань</p>
                    </div>

                    <div class="wrapper-like">
                        <img src="{% static 'images/eye.svg' %}" alt="">
                        <p>0 Переглядів</p>
                    </div>
                </div>

            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
    

{% block requests %}                        
    <div class="following-requests">
        <div class="request-tabs">
            <p class="txt-req"> <img src="{% static 'images/people_gr.svg' %}" alt="people">Запити</p>
            <button class="show-all-btn">Дивитись всі</button>
        </div>

        <div class="requests">
            <div class="user-info">
                <img src="{% static 'home/media/avatar.svg' %}" alt="Profile Picture">
                
                <div class="txt-info-acc">
                    <h4 class="username-short">Username</h4>
                    <p class="desc-short">0 підписників</p>
                </div>
            </div>
            
            <div class="user-info">
                <img src="{% static 'home/media/avatar.svg' %}" alt="Profile Picture">
                
                <div class="txt-info-acc">
                    <h4 class="username-short">Username</h4>
                    <p class="desc-short">0 підписників</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/core.js' %}"></script>
{% endblock %}
