{% extends "base.html" %}
{% load static %}

{% block title %} Registration page {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/registration/registrations.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
{% endblock %}


{% block content %} 
    <div class="center-wrapper">
        <div class="center-div">
            <form class="form-register" method="post">
                {% csrf_token %}
                
                <div class="links-div">
                    <a href="/user/register" class="tab active">Рєєстрація</a>
                    <a href="/user/login" class="tab">Авторизація</a>
                </div>
                
                <p class="join-text">Приєднуйся до World IT!</p>
                <div class = "data-reg">
                    <div class="center-data noimg">
                        <p class="text-data">Електронна пошта</p>
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>
    
                    <div class="center-data">
                        <p class="text-data">Пароль</p>
                        {{ form.password.errors }}
                        <div class="input-eye">
                            {{ form.password }}
                            <img src="{% static 'images/closed_eye.svg' %}" alt="" class="eye-img" id="eye-icon" >
                        </div>
                    </div>
    
                    <div class="center-data">
                        <p class="text-data">Підтверди пароль</p>
                        {{ form.password2.errors }}
                        <div class="input-eye">
                            {{ form.password2 }}
                            <img src="{% static 'images/closed_eye.svg' %}" alt="" class="eye-img" id="eye-icon-conf" >
                        </div>
                    </div>
                </div>
                <button class="reg-button">Створити акаунт</button>
            </form>
        </div>
    
        <div class="image-wrapper">
            <img src="{% static 'images/bg.svg' %}" alt="" class="bg-img">
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/password_visibility/password_visibility.js' %}"></script>
{% endblock %}