body {
    background-color: rgba(233, 229, 238, 1);
}

.center-wrapper{
    width: 100vw;
    min-height: calc(100vh - 4.5rem);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* min-height: calc(100vh - 4.5rem);
    padding: 1rem; */

    width: 90vw;
    max-width: 500px; 
    height: auto;
    /* gap: 2rem; */
}


.form-register {
    /* width: auto; */
    height: 100%;
    max-width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    gap: 1.5rem;
    flex-shrink: 0;
}

.links-div {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    width: 100%;
}

.tab {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(129, 129, 141, 1);
    text-decoration: none;
    transition: color 0.3s;
}

.tab.active {
    color: rgba(7, 10, 28, 1);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.join-text {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;

    margin-bottom: 0.75rem;
}

.data-reg {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.center-data {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.text-data {
    font-size: 1rem;
    color: rgba(7, 10, 28, 1);
    margin-left: 0.2rem;
    font-weight: 500;
}
input {
    height: 2.625rem; 
    padding: 0.625rem 1rem; 
    font-size: 0.9375rem; 
    border: 0.09375rem solid rgba(205, 206, 210, 1); 
    border-radius: 0.625rem; 
    width: 100%;
}

input::placeholder {
    color: rgba(129, 129, 141, 1);
}

.input-eye {
    position: relative;
}

.input-eye input {
    padding-right: 2.5rem; 
}

.eye-img {
    position: absolute;
    right: 0.75rem; 
    top: 50%;
    transform: translateY(-50%);
    width: 1.375rem; 
    height: 1.375rem;
    cursor: pointer;
}

.reg-button {
    margin-top: 0.1rem;
    padding: 1rem;
    background-color: rgba(84, 60, 82, 1);
    height: 3.25rem; 
    width: 100%;
    color: white;
    border: none;
    border-radius: 50rem; 
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reg-button:hover {
    background-color: #2e1f3d;
}

input:focus {
    outline: none;
    border-color: rgba(84, 60, 82, 0.8);
}

.errorlist{
    color: rgb(212, 106, 106);
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.image-wrapper{
    flex-shrink: 0;
    max-width: 660px;

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img {
    /* max-width: 50vw;
    height: auto;
    flex-shrink: 0;
    z-index: -1;

    position: static;
    left: -16%;
    width: 100%;
    height: 100%;    */

    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;

    position: relative;
    z-index: -1;
    left: -16%;

}

@media (max-width: 768px) {
  .center-div {
    flex-direction: column;
    align-items: center;
  }

  .image-wrapper {
    max-width: 80vw;
    margin-top: 1.5rem;
  }

  .form-register {
    max-width: 90vw;
  }
}


/*  */

body {
    background-color: rgba(233, 229, 238, 1);
}
.center-div-code {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 4.5rem);
    padding: 1rem;
}

.user-code-form {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
}


.main-confirm {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    text-align: center;
}

.send-text {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;

    color: rgb(94, 94, 99);
}

.text-data-code {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.all-codes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.twice-code {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.twice-code input[type="text"] {
    /* flex: 1; */
    width: 3.2rem;
    height: 3.2rem;
    /* aspect-ratio: 1 / 1.2; */
    text-align: center;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.create-button {
    background-color: #543C52;
    color: white;
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease;
}

.create-button:hover {
    background-color: #3c2b3f;
}

.back-link {
    text-align: center;
    text-decoration: none;
    color: #543C52;
    font-size: 0.95rem;
}

